
  <div class="user-profile-view" *ngIf="!editMode">
    <div class="user-name" *ngIf="type=='singleLine'">
        <h4>Name:</h4>
        <p>{{model}}</p>
    </div>

    <div class="user-bio" *ngIf="type=='multiLine'">
        <h4>Bio:</h4>
        <p>{{model}}</p>
    </div>
    <div class="user-bio" *ngIf="type=='emailField'">
        <h4>Email:</h4>
        <p>{{model}}</p>
    </div>
    <div class="user-bio" *ngIf="type=='selectField'">
        <h4>Select:</h4>
        <p>{{model}}</p>
    </div>
    <div class="user-bio" *ngIf="type=='tagsField'">
        <h4>Tags:</h4>
        <p>
          <span *ngFor="let selectedTag of selectedTags">{{selectedTag.display}}, </span>
        </p>
    </div>
    <div class="user-bio" *ngIf="type=='datepickerField'">
      <h4>Date:</h4>
      <p>{{date}}</p>
    </div>


  </div>

<div class="user-profile-edit" *ngIf="editMode">
<!--Begin Basic Text Input Field-->
  <md-form-field class="full-width" *ngIf="type=='singleLine'">
    <input
      mdInput
      placeholder={{placeholder}}
      [(ngModel)]="model"
      [disabled]="isDisabled ? 'true' : 'false'"
      [required]="isRequired ? 'true' : 'false'"
      >
  </md-form-field>
<!--End Basic Text Input Field-->


<!--Begin Text Area Input Field-->
  <md-form-field class="full-width" *ngIf="type=='multiLine'">
    <textarea
      mdInput
      placeholder={{placeholder}}
      [(ngModel)]="model"
      [disabled]="isDisabled ? 'true' : 'false'"
      [required]="isRequired ? 'true' : 'false'"
      >
      {{bio}}
    </textarea>
  </md-form-field>
<!--End Text Area Input Field-->

<!--Begin Email Input Field-->
  <md-form-field class="full-width" *ngIf="type=='emailField'">
    <input
      mdInput
      [(ngModel)]="model"
      placeholder={{placeholder}}
      [formControl]="emailFormControl"
    >
    <md-error *ngIf="emailFormControl.hasError('pattern')">
      Please enter a valid email address
    </md-error>
    <md-error *ngIf="emailFormControl.hasError('required')">
      Email is <strong>required</strong>
    </md-error>
  </md-form-field>
<!--End Email Input Field-->

<!--Begin Select Field-->
  <md-select mdInput class="full-width" [(ngModel)]="model" placeholder={{placeholder}} *ngIf="type=='selectField'">
    <md-option *ngFor="let selectOption of options" [value]="selectOption.value">
      {{ selectOption.viewValue }}
    </md-option>
  </md-select>
<!--End Select Field-->


<!--Start Tags Field-->
<tag-input [(ngModel)]="model" placeholder={{placeholder}} [onlyFromAutocomplete]="true" *ngIf="type=='tagsField'" (onAdd)="tagCallback">
  <tag-input-dropdown [displayBy]="'viewValue'" [identifyBy]="'value'" [autocompleteItems]="options">
    <ng-template let-item="item" let-index="index">
      {{ item.viewValue }}
    </ng-template>
  </tag-input-dropdown>
  <span>Use tags values from the above select field</span>
  </tag-input>
<!--End Tags Field-->


<!--Begin Datepicker Field-->
<md-form-field class="full-width" *ngIf="type=='datepickerField'">
  <input mdInput [mdDatepicker]="picker" placeholder={{placeholder}} (dateInput)="dateCallback">
  <md-datepicker-toggle mdSuffix [for]="picker"></md-datepicker-toggle>
  <md-datepicker #picker></md-datepicker>
</md-form-field>
<!--End Datepicker Field-->



</div>
