
<md-card class="example-card">
<md-toolbar color="primary">
  <div class="toolbar-content">
    <div class="toolbar-title">User Profile</div>
    <div class="toolbar-action">
      <button md-icon-button (click)="toggleEdit()">
        <i class="fa fa-pencil" aria-hidden="true"></i>
        </button>
    </div>
  </div>
</md-toolbar>

<div class="card-content">
  <md-card-content>
    <h3>Input Fields</h3>

    <inline-input
      [(model)]="user.name"
      [type]="'singleLine'"
      [placeholder]="'Text'"
      [editMode]="isEditMode"
    >
    </inline-input>


  <inline-input
      [(model)]="user.bio"
      [type]="'multiLine'"
      [placeholder]="'Textarea'"
      [editMode]="isEditMode"
    >
    </inline-input>


    <inline-input
      [(model)]="user.email"
      [type]="'emailField'"
      [placeholder]="'Email'"
      [editMode]="isEditMode"
    >
    </inline-input>

    <inline-input
      [(model)]="user.favorite_music"
      [type]="'selectField'"
      [placeholder]="'Select'"
      [editMode]="isEditMode"
      [options]="selectOptions"
    >
    </inline-input>

    <inline-input
      style="margin: 0 20px"
      [(model)]="user.music_genres"
      [type]="'tagsField'"
      [placeholder]="'Add Tags'"
      [editMode]="isEditMode"
      [options]="selectOptions"
      [tagCallback]="onTagAdded('$event')"
    >
    </inline-input>


    <inline-input [type]="'datepickerField'" [placeholder]="'Choose Date'" [(model)]="user.date" [editMode]="isEditMode" [dateCallback]="dateInput('$event')">
    </inline-input>


<button md-raised-button color="primary" (click)="saveUser(user)">Save</button>
  </md-card-content>
</div>


</md-card>
